<?xml version="1.0"?>
<launch>
    <!--File Path-->
    <arg name="image_path"     default="$(env HOME)/calibration_images/..."/>
    <arg name="save_directory" default="$(arg image_path)"/>

    <!--Number of corners-->
    <arg name="board_width"   default="9"/>
    <arg name="board_height"  default="6"/>
    <arg name="square_length" default="25.0"/><!--mm-->

    <arg name="image_width"  default="1936"/>
    <arg name="image_height" default="1216"/>

    <!--Calibration modes-->
    <!--0 Checker-->
    <!--1 Charuco-->
    <arg name="method" default="0"/>

    <!--Difference Threshold-->
    <arg name="threshold" default="0"/><!--px-->

    <node name="stereo_calibration_node" pkg="stereo_calibration" type="stereo_calibration_node" output="screen">
        <param name ="image_path"      value="$(arg image_path)"/>
        <param name ="save_directory"  value="$(arg save_directory)"/>

        <param name ="board_width"  value="$(arg board_width)"/>
        <param name ="board_height" value="$(arg board_height)"/>
        <param name ="square_length" value="$(arg square_length)"/>

        <param name ="image_width"  value="$(arg image_width)"/>
        <param name ="image_height" value="$(arg image_height)"/>

        <param name ="method" value="$(arg method)"/>

        <param name ="threshold" value="$(arg threshold)"/>
    </node>
</launch>
