<?xml version="1.0"?>
<launch>
    <arg name="display" default="true"/>

    <!--Number of corners-->
    <arg name="board_width"   default="8"/>
    <arg name="board_height"  default="5"/>

    <arg name="square_length" default="45.0"/><!--mm-->

    <arg name="image_width"  default="1936"/>
    <arg name="image_height" default="1216"/>

    <!--Calibration modes-->
    <!--0 Checker-->
    <!--1 Charuco-->
    <arg name="method" default="1"/>

    <!--Difference Threshold-->
    <arg name="threshold" default="0"/><!--px-->

    <!--Charuco marker length if required-->
    <arg name="marker_length" default="23.0"/><!--mm-->

    <!--Dictionary ID-->
    <arg name="dictionary" default="0"/><!--DICT_4X4_50-->

    <node name="stereo_calibration_service" pkg="stereo_calibration" type="stereo_calibration_service" output="screen">
        <param name="display" value="$(arg display)"/>

        <param name ="board_width"  value="$(arg board_width)"/>
        <param name ="board_height" value="$(arg board_height)"/>
        <param name ="square_length" value="$(arg square_length)"/>

        <param name ="image_width"  value="$(arg image_width)"/>
        <param name ="image_height" value="$(arg image_height)"/>

        <param name ="method" value="$(arg method)"/>

        <param name ="threshold" value="$(arg threshold)"/>

        <param name ="marker_length" value="$(arg marker_length)"/>

        <param name ="dictionary" value="$(arg dictionary)"/>
    </node>
</launch>
